body, html {
	height: 100%;
	margin: 0;
}
@font-face { font-family: LCD_Solid; src: url(LCD_Solid.ttf); }
h1 {
	margin: 0;
	padding: 30px;
	text-align: center;
	font-size: 60px;
}
button {
	width: 75px;
	height: 35px;
	color: white;
	font-family: "LCD_Solid";
	background-color: black;
	border: 3px solid #506382;
	transition-duration: 0.4s;
	cursor: pointer;
}
button:hover {
	background-color: #506382;
}
.intro-bg {
	background-image: url("https://media.giphy.com/media/14imT9w8OxSzCw/giphy.gif");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
	color: white;
	margin: 0;
}
.intro-parent {
	height: 250px;
	width: 500px;
	padding: 10px;
	background-color: black;
	margin: auto;
	opacity: 0.7;
	position: relative;
}
.intro-parent .intro-child {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.tutorial-bg {
	background-image: url("https://i.redd.it/hchp74msh6ly.gif");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
	color: white;
	margin: 0;
}
.tutorial-parent {
	height: 250px;
	width: 700px;
	padding: 10px;
	background-color: black;
	margin: auto;
	opacity: 0.7;
	position: relative;
}
.tutorial-parent .tutorial-child {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.tutorial-parent .tutorial-child0 {
	font-size: 40px;
	color: pink;
	position: absolute;
	left: 50px;
	bottom: 50px;
}
.tutorial-parent .tutorial-child1 {
	position: absolute;
	right: 225px;
	bottom: 130px;
}
.tutorial-parent .tutorial-child2 {
	position: absolute;
	right: 310px;
	bottom: 90px;
}
.tutorial-parent .tutorial-child3 {
	position: absolute;
	right: 140px;
	bottom: 90px;
}
.tutorial-parent .tutorial-child4 {
	position: absolute;
	right: 275px;
	bottom: 40px;
}
.tutorial-parent .tutorial-child5 {
	position: absolute;
	right: 175px;
	bottom: 40px;
}