/* Make content fill the screen */ 
body, html {
	height: 100%;
	margin: 0;
}

/* Make LCD_Solid font usable in this app */ 
@font-face { font-family: LCD_Solid; src: url(LCD_Solid.ttf); }

/* Default first header settings */
h1 {
	margin: 0;
	padding: 30px;
	text-align: center;
	font-size: 60px;
}

/* Default button styles */ 
button {
	width: 75px;
	height: 35px;
	color: white;
	font-family: "LCD_Solid";
	background-color: black;
	border: 3px solid #506382;
	transition-duration: 0.4s;
	cursor: pointer;
}
button:hover {
	background-color: #506382;
}
button:disabled {
	opacity: 0.3;
}

/* Classes for introduction divs: background div, transparent floating div, button div */ 
.intro-bg {
	background-image: url("https://media.giphy.com/media/14imT9w8OxSzCw/giphy.gif");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
	color: white;
	margin: 0;
}
.intro-parent {
	height: 250px;
	width: 500px;
	padding: 10px;
	background-color: black;
	margin: auto;
	opacity: 0.7;
	position: relative;
}
.intro-child {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* Classes for tutorial divs: background div, transparent floating div, prompt text div, button divs, output div */
.tutorial-bg {
	background-image: url("https://i.redd.it/hchp74msh6ly.gif");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
	color: white;
	margin: 0;
}
.tutorial-parent {
	height: 250px;
	width: 700px;
	padding: 10px;
	background-color: black;
	margin: auto;
	opacity: 0.7;
	position: relative;
}
/* Right bottom button div */
.tutorial-child {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
/* Prompt text div */
.tutorial-child0 {
	font-size: 40px;
	color: pink;
	position: absolute;
	left: 50px;
	bottom: 50px;
}
/* Button 1 div */
.tutorial-child1 {
	position: absolute;
	right: 225px;
	bottom: 130px;
}
/* Button 2 div */
.tutorial-child2 {
	position: absolute;
	right: 310px;
	bottom: 90px;
}
/* Button 3 div */
.tutorial-child3 {
	position: absolute;
	right: 140px;
	bottom: 90px;
}
/* Button 4 div */
.tutorial-child4 {
	position: absolute;
	right: 275px;
	bottom: 40px;
}
/* Button 5 div */
.tutorial-child5 {
	position: absolute;
	right: 175px;
	bottom: 40px;
}
/* Output text div */
.tutorial-child6 {
	position: absolute;
	left: 10px;
	bottom: 10px;
}

/* Restart button divs */
.finite {
	position: absolute;
	left: 200px;
	bottom: 40px;
}
.infinite {
	position: absolute;
	right: 200px;
	bottom: 40px;
}

/* Background classes for when the user plays, loses, and wins */
.play-bg-over {
	background-image: url("https://i.pinimg.com/originals/a1/af/5d/a1af5d23affea8fa99e6cdb7655fa0ee.gif");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
	color: white;
	margin: 0;
}
.play-bg-under {
	background-image: url("https://thumbs.gfycat.com/FewExaltedGoosefish-size_restricted.gif ");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.85;
}
.lose-bg {
	background-image: url("https://media.giphy.com/media/AIlrItaxPyivS/giphy.gif");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
	color: white;
	margin: 0;
}
.win-bg {
	background-image: url("https://i.gifer.com/bAV.gif");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "LCD_Solid";
	color: white;
	margin: 0;
	opacity: 0.85;
}

/* Div class for the moving character that shows "progress"/advancement of the game */
.progress-character {
	background-image: url("https://media.giphy.com/media/8go5oBVjZcA2A/giphy.gif");
	background-repeat: no-repeat;
	height: 150px;
	position: relative;
	bottom: 20px;
	left: 5px;
}

/* Divs for html pages triggered when the player has lost */
/* Larger div to hold high scores table */
.lose-parent-infinite {
	height: 400px;
	width: 750px;
	padding: 10px;
	background-color: black;
	margin: auto;
	opacity: 0.7;
	position: relative;
}
/* Div to center Restart button in page */
.lose-parent-finite {
	height: 45px;
	width: 85px;
	background-color: black;
	margin: auto;
	opacity: 0.7;
	position: relative;
}
/* Restart button div */
.loser-butt {
	position: absolute;
	left:5px;
	top:5px;
}
